<!DOCTYPE html>
<html lang="en-US">
  <%- include ('../partials/head.ejs') %>
  <body>
    <!-- Main Container -->
    <div class="container">
      <!-- Navigation -->
      <header><%- include ('../partials/header') %></header>

      <!-- Parallax Section -->
      <section class="banner">
        <h2 class="parallax">SIMPLE CRUD APPLICATION</h2>
        <p class="parallax_description">
          Simple application using HTML, javascript, CSS, <br />
          nodejs in backend and postgresql database
        </p>
      </section>

      <%- include ('../partials/footer') %>
    </div>
    <!-- Main Container Ends -->
  </body>
</html>
